@font-face {
    font-family: "Montserrat Static";
    src: url("/assets/montserrat.bold.ttf") format("truetype");
}

:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
html {
    --cv-bg: #fff;
    --hex-ratio: 1.1547;
}

body {
    width: 100%;
    margin: 0;
}

.main_backdrop {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg.bg  {
    position: absolute;
    inset: 0;
    z-index: -1;
}

.cv_body {
    width: 100%;
    height: calc(100% - 4rem);
    max-width: 82.7rem;
    max-height: 116.9rem;
    background: var(--cv-bg);
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
    margin: 2rem auto;
    padding: 2rem;
    box-sizing: border-box;
    section {
        width: 100%;
    }
}


.hex_main {
    display:flex;
    --s: 100px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px); 
    padding-bottom: calc(var(--s) * var(--hex-ratio) / 4)
}

.hex_container {
    font-size: 0; /* disable white space between inline block element */
}

.hex_tile {
    font-weight: 400;
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s) * var(--hex-ratio));
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s) * 0.2885);
    background-size: cover;
    overflow: hidden;
    position: relative;
    isolation: isolate;
}

.hex_tile > div {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
}
.hex_tile > div > p {
    color: #fefefe;
    font-family: "Montserrat Static";
    text-shadow: 2px 2px 4px black;
    padding: 0;
    margin: 0;
    text-align: center;
}

.hex_tile img {
    --p: var(--inside-space, calc(var(--m) * 1.5));
    --mh: calc(var(--p) * var(--hex-ratio));
    --w: calc(var(--s) - 2 * var(--p));
    padding: var(--mh) var(--p);
    width: var(--w);
    height: calc(var(--w) * var(--hex-ratio));
    clip-path: polygon(var(--p) calc(25% + var(--mh) / 2),
    var(--p) calc(75% - var(--mh) / 2), 
    50% calc(100% - var(--mh)), 
    calc(100% - var(--p)) calc(75% - var(--mh) / 2), 
    calc(100% - var(--p)) calc(25% + var(--mh) / 2), 
    50% var(--mh));
}

.hex_container::before {
    content: "";
    width: calc(var(--s) / 2 + var(--m));
    float: left;
    height: 120%; 
    shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
}

.section_heading {
    font-size: 1.5rem;
    padding-left: 0.6rem;
    border-left: 0.5rem solid var(--gradient-start);
    & ~ * {
        margin-left: 1.1rem;
    }
}

.me_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.me_profile {
    --s: 150px;
    --m: 6px;
    margin-bottom: 1px;
    flex-shrink: 0;
}

.me_desc {
    display: flex;
    flex-direction: column;
    h2 {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    }
}

.gradient-headline {
    font-family: "Montserrat Static";
    font-size: 1.1rem;
    font-weight: bold;
    height: 1.2rem;
}

.skill_list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
}

.skill_item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    svg .clip-path {
        --perc-w: calc(100% - 0.2rem);
        x:calc(var(--perc-w) * var(--ex) / 100 + 0.1rem);
        y:0.1rem;
        width:calc((var(--perc-w)) * (100 - var(--ex)) / 100);
        height:calc(var(--perc-w));

    }
}

.interest-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.interest-plaque {
    width: 5rem;
    height: 5rem;
    border-radius: 8%;
    &::before {
        content: "";
        z-index: 1;
        position: absolute;
        inset: 6%;
        border-radius: 6%;
        background: var(--cv-bg);
        -webkit-mask-image: var(--img);
        mask-image: var(--img);
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        mask-type: luminance;

    }
}

.experience-list {
    display: grid;
    grid-template-columns: 1rem 1fr;
    gap: 1rem;
    ul {
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        padding: 0;
        li {
            & > * {
                padding: 0;
                margin: 0;
            }
            text {
                font-size: .9rem;
            }
            h5 {
                font-size: 1.4rem;
            }
            p {
                font-size: .8rem;
            }
        }
    }
    #timeline-axis-mask {
        --rh: 0px; 
    }
}

.contact-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0;
}
.contact-kind {
    text-transform: capitalize;
    background: linear-gradient(45deg, var(--gradient-start), var(--gradient-end));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

footer {
    grid-column: span 2;
    font-size: .5rem;
}

*:has( > svg.bg) {
    position: relative;
    isolation: isolate;
    overflow: hidden;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
    .main_backdrop > svg.bg {
        display: none;
        width: 0px !important;
        height: 0px !important;
    }
    :root {
        font-size: 12px;
    }
    .cv_body {
        width: 210mm;
        height: 297mm;
    }
    .gradient-headline {
        height: 1.6rem;
        font-size: 1.3rem;
    }
}
