<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
      {% block content %}{% endblock %}
  <svg style="position: absolute; width: 0; height: 0; pointer-events: none; user-select: none;">
      <defs>
      <linearGradient id="{{ crate::cv::BG_ID }}">
            <stop offset="5%" stop-color="var(--gradient-start)" />
            <stop offset="95%" stop-color="var(--gradient-end)" />
        </linearGradient>
        <linearGradient id="{{ crate::cv::BG_ID }}-hex">
            <stop offset="30%" stop-color="var(--gradient-start)" />
            <stop offset="70%" stop-color="var(--gradient-end)" />
        </linearGradient>
      </defs>
  </svg>
  </body>
</html>
