<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assets/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
      {% block content %}{% endblock %}
  <svg>
      <defs>
        <linearGradient id="simple-gradient" transform="rotate(90)">
            <stop offset="5%" stop-color="#B008C4" />
            <stop offset="95%" stop-color="#FE9900" />
        </linearGradient>
      </defs>
      <symbol id="gradient-bg" viewBox="0 0 1 1">
        <rect x="0" y="0" w="1" h="1" fill="url(#simple-gradient)"/>
      </symbol>
  </svg>
  </body>
</html>
