{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}CV - Mateusz Adamiec {% endblock %}
{% block content %}
<div class="main_backdrop">
    {% call macros::bg_svg(-45, true) %}
    <main class="cv_body">
        <section>
            {{ me|safe }}
            <section>
                {% call macros::section_title("About me") %}
                <p>{{ about|safe }}</p>
            </section>
        </section>
        <section>
            {% call macros::section_title("My capabilities") %}
            {{ capabilities|safe }}
        </section>
    </main>
</div>
{% endblock %}
