{% macro input(name, input_type, label, attrs, value) %}
<div class="input-field">
    {% if input_type == "textarea" %}
    <textarea id="{{ name }}" name="{{ name }}" rows="1" placeholder=" " {{ attrs|safe }}>{{value}}</textarea>
    {% else %}
    <input id="{{ name }}" type="{{ input_type }}" name="{{ name }}" placeholder=" " {{ attrs|safe +}}
        value="{{value}}">
    {% endif %}
    {% if label != "" %}
    <label for="{{ name }}">{{ label }}</label>
    {% endif %}
</div>
{% endmacro %}

{% macro simple_input_list(name, initial, legend, label, attrs) %}
<fieldset>
    <legend>{{ legend }}</legend>
    {% let last = initial.len() %}
    {% for val in initial %}
    <div class="input-field with-delete">
        <input id="{{name}}[{{ loop.index - 1}}]" type="text" name="{{name}}[{{loop.index - 1}}]" placeholder=" " {{
            attrs|safe }} value="{{val}}">
        <label for="{{name}}[{{loop.index - 1}}]">{{label}}</label>
        <button aria-label="Delete row" type="button" _="on click remove the parentElement of me">&times;</button>
    </div>
    {% endfor %}
    {% if last == 0 %}
    <div class="input-field with-delete">
        <input id="{{name}}[{{last}}]" type="text" name="{{name}}[{{last}}]" placeholder=" " {{attrs|safe}}>
        <label for="{{name}}[{{last}}]">{{label}}</label>
        <button aria-label="Delete row" type="button" _="on click remove the parentElement of me">&times;</button>
    </div>
    {% endif %}
    <button type="button" aria-label="Add"
        _="on click get the previous .input-field then put its outerHTML before me then call incr(previous .input-field)">&#43;</button>
</fieldset>
{% endmacro %}
{% macro gradient_input_group(data, i) %}
{% let stop_v = data.stop_v() %}
<div class="input-group">
    {% call input(format!("gradient[{i}][color]"), "color", "Color", "_=\"on paste log event then set me@value to
    event.clipboardData.getData()\"", data.color) %}
    {% call input(format!("gradient[{i}][stop]"), "text", "Offset", "min=\"0\" max=\"1\" inputmode=\"numeric\"
    pattern=\"([0-9]?\\.)[0-9]*\"", stop_v) %}
    <button aria-label="Delete row" type="button" _="on click remove the parentElement of me">&times;</button>
</div>
{% endmacro %}
{% macro experience_input_group(data, i) %}
<div class="input-group">
    {% call input(format!("experience[{i}][from]"), "date", "From", "", data.from) %}
    {% match data.to %} {% when TimeRange::Date with (date) %}
    {% call input(format!("experience[{i}][to][Date]"), "date", "To", "_=\"on input set d to (me.value is not empty)
    then toggle [@disabled=d] on the <input /> in next .checkbox\"", date) %}
    {% else %}
    {% call input(format!("experience[{i}][to][Date]"), "date", "To", "_=\"on input set d to (me.value is not empty)
    then toggle [@disabled=d] on the <input /> in next .checkbox\" disabled=\"true\"", "") %}
    {% endmatch %}
    <label class="checkbox">
        <input id="experience[{{i}}][to]" type="checkbox" value="Present" name="experience[{{i}}][to]" {% match data.to
            %} {% when TimeRange::Present %} checked="true" {% else %} disabled="true" {%endmatch %}
            _="on click get the previous <input/> then toggle [@disabled] on it then set it.value to ''">
        Present
    </label>
    {% call input(format!("experience[{i}][description]"), "textarea", "What", "", data.description) %}
    {% call input(format!("experience[{i}][name]"), "text", "Where", "", data.name) %}
    <button aria-label="Delete row" type="button" _="on click remove the parentElement of me">&times;</button>
</div>
{% endmacro %}
{% macro skill_input_group(data, i) %}
<div class="input-group">
    {% call input(format!("skills[skills][{i}][experience]"), "range", "Experience level", "min=\"0\" max=\"100\"
    step=\"5\"", data.experience) %}
    {% call input(format!("skills[skills][{i}][name]"), "text", "Skill", "", data.name) %}
    <button aria-label="Delete row" type="button" _="on click remove the parentElement of me">&times;</button>
</div>
{% endmacro %}
{% macro contact_input_group(data, i) %}
{% let c_type = data.c_type() %}

<div class="input-group">
    {% match data %}
    {% when Contact::Link with (link_name,link) %}
    {% call input(format!("contact[{i}][Link][0]"), "text", "Link name","", link_name) %}
    {% call input(format!("contact[{i}][Link][1]"), "url", "Link href", "", link) %}
    {% when Contact::Phone with (number) %}
    {% call input(format!("contact[{i}][Phone]"), "phone", "Phone","", number) %}
    {% call input(format!("contact[{i}][Link][1]"), "url", "Link href", "disabled=\"true\"", "") %}
    {% when Contact::Email with (email) %}
    {% call input(format!("contact[{i}][Email]"), "email", "Email","", email) %}
    {% call input(format!("contact[{i}][Link][1]"), "url", "Link href", "disabled=\"true\"", "") %}
    {% endmatch %}
    <div class="input-field">
        <select id="contact[{{i}}][type]" _="on change call updateType(me)">
            {% for opt in Contact::types() %}
            <option {%+ if opt==c_type %}selected{% endif %}>{{opt}}</option>
            {% endfor %}
        </select>
        <label>Contact type</label>
    </div>
    <button aria-label="Delete row" type="button" _="on click remove the parentElement of me">&times;</button>
</div>
{% endmacro %}
<form id="CV-info" action="/cv"
    _="on submit get <:is(input,textarea)/> in me then repeat for i in it if (i.value is empty or (i@type is 'checkbox' and i.checked is false)) remove @name from i end end">
    <fieldset>
        <legend> Basic info</legend>
        {% call input("me[name]", "text", "Name", "required", init.me.name) %}
        {% call input("me[title]", "text", "Position", "required", init.me.title) %}
        {% call input("about", "textarea", "About me", "required", init.about) %}
    </fieldset>
    <fieldset>
        <legend>Gradient steps</legend>
        {% let last = init.gradient.0.len() %}
        {% for grad in init.gradient.0 %}
        {% call gradient_input_group(grad,i=(loop.index - 1)) %}
        {% endfor %}
        {% if last == 0 %}
        {% call gradient_input_group(crate::gradient::GradientStop::default(), i=last) %}
        {% endif %}
        <button type="button" aria-label="Add"
            _="on click get the previous .input-group then put its outerHTML before me then call incr(previous .input-group)">&#43;</button>
    </fieldset>
    {% call simple_input_list("education", init.education.0, "Your education", "Education point", "") %}
    <fieldset>
        <legend>Your Experience</legend>
        {% let last = init.experience.0.len() %}
        {% for exp in init.experience.0 %}
        {% call experience_input_group(exp,i=(loop.index - 1)) %}
        {% endfor %}
        {% if last == 0 %}
        {% call experience_input_group(crate::components::Experience::default(), i=last) %}
        {% endif %}
        <button type="button" aria-label="Add"
            _="on click get the previous .input-group then put its outerHTML before me then call incr(previous .input-group)">&#43;</button>
    </fieldset>
    {% call simple_input_list("interests", init.interests.0, "Your interests", "Svg url", "") %}
    <fieldset>
        <legend>Your skills</legend>
        <div>
            <fieldset>
                <legend>Skill list</legend>
                {% let last = init.skills.skills.len() %}
                {% for skill in init.skills.skills %}
                {% call skill_input_group(skill,i=(loop.index - 1)) %}
                {% endfor %}
                {% if last == 0 %}
                {% call skill_input_group(crate::components::Skill::default(), i=last) %}
                {% endif %}
                <button type="button" aria-label="Add"
                    _="on click get the previous .input-group then put its outerHTML before me then call incr(previous .input-group)">&#43;</button>
            </fieldset>
            {% call input("skills[summary]", "textarea", "Summary", "", init.skills.summary) %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Your contact</legend>
        {% let last = init.contact.0.len() %}
        {% for cont in init.contact.0 %}
        {% call contact_input_group(cont,i=(loop.index - 1)) %}
        {% endfor %}
        {% if last == 0 %}
        {% call contact_input_group(crate::components::Contact::default(), i=last) %}
        {% endif %}
        <button type="button" aria-label="Add"
            _="on click get the previous .input-group then put its outerHTML before me then call incr(previous .input-group)">&#43;</button>
    </fieldset>
    <fieldset>
        <legend>Your Qualities</legend>
        {% let last = init.qualities.0.len() %}
        {% for val in init.qualities.0 %}
        <div class="input-field with-delete">
            <input id="qualities[{{ loop.index - 1}}][Text]" type="text" name="qualities[{{loop.index - 1}}][Text]"
                placeholder=" " maxLength="40" value="{{val.data()}}">
            <label for="qualities[{{loop.index - 1}}][Text]">Quality (2-3 words)</label>
            <button aria-label="Delete row" type="button" _="on click remove the parentElement of me">&times;</button>
        </div>
        {% endfor %}
        {% if last == 0 %}
        <div class="input-field with-delete">
            <input id="qualities[{{last}}]Text" type="text" name="qualities[{{last}}][Text]" placeholder=" "
                maxLength="40">
            <label for="qualities[{{last}}]">Quality (2-3 words)</label>
            <button aria-label="Delete row" type="button" _="on click remove the parentElement of me">&times;</button>
        </div>
        {% endif %}
        <button type="button" aria-label="Add"
            _="on click get the previous .input-field then put its outerHTML before me then call incr(previous .input-field)">&#43;</button>
    </fieldset>
</form>
