{% import "macros.html" as macros %}
<div class="experience-list">
    <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="100%">
        <rect x="0.5rem" y="0.9rem" width=".2rem" height="calc(100% - 0.9rem)"
            fill="url(#{{ crate::gradient::BG_ID }}-top_right)" />
    </svg>
    <ul>
        {% for experience in self.0 %}
        <li>
            <h5>{{ experience.name|safe }}</h5>
            {% call macros::gradient_headline(format!("{} - {}", experience.from, experience.to)) %}
            <p> {{ experience.description|htmlize|safe }} </p>
        </li>
        {% endfor %}
    </ul>
</div>
